*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
}
.container-logo {
    width: 300px;
    
}
.container-logo img {
    width: 100%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.line{
    text-decoration: line-through;
}
.task-list{
    width: 80%;
    background-color: antiquewhite;
}