*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
}
.container-logo {
    width: 300px;
    
}
.container-logo img {
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
}